/* リセットCSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --------- header --------- */
header {
  background-color: #ec715f;
  height: 70px;
}

header a {
  text-decoration: none;
  color: #fafafa;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
  float: left;
}

.nav-ul {
  float: right;
}

.nav-li {
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  line-height: 70px;
  width: 120px;
  list-style: none;
}

/* ---------- main ---------- */

/* 共通 */
.portfolio,
.profile {
  background-color: #eceff1;
}

.portfolio,
.feature,
.profile,
.contact {
  text-align: center;
  color: #000;
}

.portfolio-title,
.feature-title,
.profile-title,
.contact-title {
  padding-top: 90px;
  font-size: 32px;
}

.portfolio-title::after,
.feature-title::after,
.profile-title::after,
.contact-title::after {
  content: "";
  display: block;
  margin: 8px auto 0 auto;
  height: 3px;
  width: 70px;
  background-color: #ec715f;
}

.portfolio-text,
.feature-text,
.profile-text,
.contact-text {
  font-size: 16px;
  padding: 30px 0;
}

/* メインビジュアル  */
.main-visual {
  background-image: url(img/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
  text-align: center;
  color: #fafafa;
}

.mv-title {
  font-size: 64px;
  padding-top: 200px;
}

.mv-subtitle {
  font-size: 20px;
  padding-top: 10px;
}

/* Portfolio */
.picts {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 920px;
  padding-bottom: 90px;
}

.pict {
  width: 300px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pict:nth-child(-n + 3) {
  /* 3番目まで */
  margin-bottom: 10px;
}

.pict:nth-child(3n-1) {
  /* ２番と５番 */
  margin-left: 10px;
  margin-right: 10px;
}

.pict:nth-child(1) {
  background-image: url(img/sketch.jpg);
}

.pict:nth-child(2) {
  background-image: url(img/websuku.png);
}

.pict:nth-child(3) {
  background-image: url(img/write.jpg);
}

.pict:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.pict:nth-child(5) {
  background-image: url(img/talk.jpg);
}

.pict:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

/* Feature */

.strengths {
  width: 980px;
  margin: 0 auto 90px auto;
  display: flex;
  font-size: 60px;
}

.strength {
  width: 320px;
}

.strength-title {
  font-size: 20px;
  padding: 10px 0;
}

.strength-text {
  font-size: 16px;
  text-align: left;
}

.st2 {
  margin-left: 10px;
  margin-right: 10px;
}

/* Profile */
.profile {
  margin: 0 auto;
}

.profile-contents {
  margin: 0 auto;
  display: flex;
  width: 1024px;
  padding-bottom: 90px;
}

.left-content {
  width: 512px;
  height: 250px;
}

.my-icon {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.right-content {
  width: 512px;
  text-align: left;
}

.myname-title,
.skills-title {
  font-size: 20px;
  padding-bottom: 5px;
}

.myname-text,
.skills-text {
  font-size: 16px;
}

.myname-text {
  padding-bottom: 20px;
}

/* Contact */
.contact {
  padding-bottom: 90px;
}

.contact-contents {
  width: 800px;
  display: flex;
  margin: 0 auto;
}

.contact-contents-left {
  width: 400px;
}

.mail,
.tel,
.sns {
  width: 130px;
  margin: 0 auto;
  text-align: left;
}

.sns {
  width: 170px;
}

.mail-title,
.tel-title {
  padding-bottom: 5px;
}

.mail-text {
  padding-bottom: 20px;
}

.contact-contents-right {
  width: 400px;
}

.contact a {
  text-decoration: underline;
  color: #212121;
}

.sns-title {
  margin-bottom: 5px;
}

.sns-icon {
  display: flex;
}

.contact .fa {
  font-size: 50px;
}

.contact .fa:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}

.mail-title,
.tel-title,
.sns-title {
  font-size: 20px;
}
/* --------- footer --------- */
footer {
  height: 60px;
  background-color: #ec715f;
  text-align: center;
  font-size: 16px;
  line-height: 60px;
  color: #fafafa;
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  /* --------- header --------- */

  header {
    height: 50px;
  }

  .nav-ul {
    display: none;
  }

  .logo {
    height: 50px;
  }

  .menu-box {
    float: right;
    width: 40px;
    height: 40px;
    border: 1px solid #fafafa;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5%;
  }

  .list-bar:first-child {
    margin-top: 10px;
  }

  .list-bar {
    display: block;
    margin: 5px auto;
    width: 25px;
    height: 2px;
    background-color: #fafafa;
  }

  /* ---------- main ---------- */

  /* メインビジュアル  */
  .main-visual {
    background-image: url(img/code.png);
  }

  .mv-title {
    font-size: 40px;
  }

  .mv-subtitle {
    font-size: 18px;
  }

  /* Portfolio */

  .portfolio {
    padding: 0 5%;
    padding-bottom: 90px;
  }

  .picts {
    display: inline;
  }

  .sp-none {
    display: none;
  }

  .pict:nth-child(2) {
    margin: 0 auto;
  }

  .pict:nth-child(4) {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .pict:nth-child(6) {
    margin: 0 auto;
  }

  /* Feature */
  .feature {
    padding: 0 5%;
    padding-bottom: 90px;
  }

  .strengths {
    display: inline;
  }

  .strength {
    margin: 0 auto;
  }
  .st2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* Profile */
  .profile {
    padding: 0 5%;
  }

  .profile-contents {
    display: inline;
  }

  .left-content {
    margin: 0 auto;
  }

  .right-content {
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 90px;
  }

  .myname-title {
    padding-top: 20px;
  }

  /* Contact */
  .contact {
    padding: 0 5%;
  }

  .contact-text {
    padding-bottom: 50px;
  }

  .contact-contents {
    display: inline;
  }

  .contact-contents-left {
    margin: 0 auto;
    text-align: center;
  }

  .contact-contents-right {
    margin: 0 auto;
    padding-bottom: 90px;
  }

  .mail,
  .tel,
  .sns {
    text-align: center;
  }

  .tel {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mail-text {
    padding-bottom: 0;
  }

  .contact .fa:nth-child(2) {
    margin-left: 8px;
    margin-right: 8px;
  }

  .sns-icon {
    display: inline;
  }

}
