/* リセットCSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 全般 */
a {
  text-decoration: none;
  color: #fafafa;
}

/* --------- header --------- */
header {
  background-color: #ec715f;
}

.container {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
}

.logo {
  height: 70px;
  float: left;
}

.nav-ul {
  float: right;
}

.nav-li {
  font-size: 16px;
  margin-left: 30px;
  margin-right: 30px;
  display: inline-block;
  line-height: 70px;
}

/* ---------- main ---------- */

/* 共通 */
.portfolio,
.profile {
  background-color: #eceff1;
}

.portfolio,
.feature,
.profile,
.contact {
  text-align: center;
  color: #000;
}

.portfolio-title,
.feature-title,
.profile-title,
.contact-title {
  padding-top: 90px;
  font-size: 32px;
}

.portfolio-title::after,
.feature-title::after,
.profile-title::after,
.contact-title::after {
  content: "";
  display: block;
  margin: 8px auto 0 auto;
  height: 3px;
  width: 70px;
  background-color: #ec715f;
}

.portfolio-text,
.feature-text,
.profile-text {
  font-size: 16px;
  padding: 30px 0;
}

/* メインビジュアル  */
.main-visual {
  background-image: url(img/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
  text-align: center;
  color: #fafafa;
}

.mv-title {
  font-size: 64px;
  padding-top: 200px;
}

.mv-subtitle {
  font-size: 20px;
  padding-top: 10px;
}

/* Portfolio */

.picts {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 920px;
  padding-bottom: 90px;
}

.pict {
  width: 300px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pict:nth-child(-n + 3) {
  /* 3番目まで */
  margin-bottom: 10px;
}

.pict:nth-child(3n-1) {
  /* ２番と５番 */
  margin-left: 10px;
  margin-right: 10px;
}

.pict:nth-child(1) {
  background-image: url(img/sketch.jpg);
}

.pict:nth-child(2) {
  background-image: url(img/webcamp.png);
}

.pict:nth-child(3) {
  background-image: url(img/write.jpg);
}

.pict:nth-child(4) {
  background-image: url(img/websuku.png);
}

.pict:nth-child(5) {
  background-image: url(img/talk.jpg);
}

.pict:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

/* Feature */
.feature {
  width: 980px;
  margin: 0 auto 90px auto;
}

.strengths {
  display: flex;
  font-size: 60px;
}

.strength {
  width: 320px;
}

.strength-title {
  font-size: 20px;
}

.strength-text {
  font-size: 16px;
  text-align: left;
}

.st2 {
  margin-left: 10px;
  margin-right: 10px;
}

/* Profile */
.profile {
  margin: 0 auto;
  padding-bottom: 90px;
}

.profile-contents {
  margin: 0 auto;
  display: flex;
  width: 1024px;
}

.left-content {
  width: 512px;
}

.my-icon {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.right-content {
  width: 512px;
  text-align: left;
}

.myname-title {
  font-size: 20px;
  padding-bottom: 5px;
}

.myname-text {
  font-size: 16px;
  padding-bottom: 20px;
}

.skills-title {
  font-size: 20px;
  padding-bottom: 5px;
}

.skills-text {
  font-size: 16px;
}

/* Contact */

/* --------- footer --------- */
